* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 95%;
}

body {
    background: url("../img/zadanie_1_bg.jpg") no-repeat;
    width: 72%;
    margin: 0 auto;
    padding-top: 1.5em;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.stretch {
    align-items: stretch;
}

.form-search {
    width: 100%;
}

.form-search-text {
    width: 65%;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

.form-search-submit {
    width: 25%;
    padding: 10px;
    border: none;
    color: white;
    background-color: royalblue;
    margin-top: 2px;
    font-size: 0.7em;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.icons-set > span {
    font-size: 0.7em;
}

.icons-set {
    margin-right: 25px;
}

.icons-set:last-child{
    margin-right: 0;
}

.navbar {
    margin: 1em 0;
    font-size: 1.1em;
    background: white;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

nav {
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: black;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav > ul > li {
    margin: 0 30px;
}

nav > ul > li > a {
    text-transform: uppercase;
    position: relative;
}

nav > ul > li:hover > a {
    color: royalblue;
}

nav > ul > li > a:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: royalblue;
}

nav > ul > li:hover > ul {
    display: flex;
    position: absolute;
    background: white;
    flex-wrap: wrap;
    left: 0;
    top: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

nav > ul > li:last-of-type a {
    color: red;
}

nav > ul > li:last-of-type a:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: red;
}

nav > ul > li > a i {
    margin-right: 5px;
}

nav > ul > li > ul {
    display: none;
}

nav > ul > li > ul > li > a {
    text-transform: uppercase;
}

nav > ul > li > ul > li {
    margin: 2em;
    text-align: left;
}

nav > ul > li > ul > li:hover > a {
    color: royalblue;
}

nav > ul > li > ul > li > ul {
    border-left: 1px solid #b3b3b3;
    padding: 5px 0;
    margin-top: 15px;
}

nav > ul > li > ul > li > ul > li {
    margin: 10px 0;
    padding: 10px;
}

nav > ul > li > ul > li > ul > li:first-child {
    margin-top: 0;
}

nav > ul > li > ul > li > ul > li:last-child {
    margin-bottom: 0;
}

nav > ul > li > ul > li > ul > li:hover {
    background: rgba(234, 229, 229, .5);
    border-left: 1px solid royalblue;
}


nav > ul > li > ul > li > ul > li:hover ~ ul{
    border-left-color: royalblue;
}

nav > ul > li > ul > li > ul > li:hover > a {
    color: royalblue;
}

.footer-links {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links li {
    display: inline;
}

.footer-links li:last-of-type {
    border-right: none;
}

.footer-link {
    border-right: 1px solid #b3b3b3;
    color: #595959;
    padding: 0 10px;
}

@media (max-device-width: 664px) {
    .col-m-1 {
        flex: 1 1 100%;
    }

    /*.col-33 {
        margin: 1em 0;
    }

    .m-mt {
        margin: 1em 0;
    }

    .form-search-text {
        width: 100%;
    }

    .form-search-submit {
        width: 100%;
    }*/

    .header div {
        margin: 1em 0 2em 0;
    }

    .header div:first-child {
        margin: 0;
    }
    
    .mobile-hide {
        display: none;
    }

    .icons {
        justify-content: center;
    }

    .icons-set {
        text-align: center;
    }

    .footer-links li {
        display: block;
        margin: 0.1em 0;
    }

    .footer-link {
        border-right: none;
        padding: 0;
    }
}

.button {
    position: relative;
    transition: all .5s ease;
    overflow: hidden;
}

.button-1 > img {
    transition: all .5s ease;
}

.button-content {
    position: absolute;
    left: 5%;
    bottom: 15%;
    color: white;
}

.button-content h2 {
    font-size: 2.7em;
}

.button-content a {
    border: 1px solid white;
    padding: 10px 25px;
    color: white;
}

.button:hover a {
    background: #fff;
    color: black;
}

.button-1:hover img {
    transform: scale(1.2) rotate(2deg);
}

.button-2 img {
    transition: all .5s ease;
}

.button-2:hover img {
    transform: scale(1.2);
}

.tabs {
    width: 100%;
    margin-top: 20px;
}

.tabs-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    background: white;
    border-bottom: 1px solid gainsboro;
}

.tabs-nav li a {
    margin: 0 20px;
    color: black;
}

.tabs-nav li a.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: royalblue;
}

.tabs-nav li {
    position: relative;
}

.tabs-nav li:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: royalblue;
}

.tabs-content {
    background: white;
}

.news {
    display: flex;
}

.news > div {
    flex: 1 1 calc(100%/3);
    margin: 20px;
}

.news > div > img {
    max-width: 100%;
}

.blog > div {
    padding: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

.blog > div:last-child {
    border: none;
}

.blog img {
    max-width: 15%;
    float: left;
    margin-right: 10px;
}

.o_nas img {
    max-width: 100%;
}

.o_nas div {
    padding: 15px;
}

.o_nas > div > h3 {
    margin-top: 0;
}

.o_nas a, .blog a, .news a {
    color: black;
}

@media (max-device-width: 768px) {
    .col-t-1 {
        flex: 1 1 100%;
    }

    .header div {
        text-align: center;
    }

    nav > ul {
        padding: 10px 10px;
    }

    nav > ul > li {
        margin: 0 10px;
    }

    nav > ul > li > ul > li{
        flex: 1 1 40%;
        margin: 1em;
    }
    
    nav > ul > li > ul > li > ul {
        display: none;
    }

    nav > ul > li > ul > li:hover > ul {
        display: block;
    }
}

@media (min-device-width: 665px) {
    .large-hide {
        display: none;
    }
}
